.istructor {
    margin-top: 110px;
    &-inner {
        h2 {
            @extend%title-h2;
            text-align: center;
            margin-bottom: 60px;
        }
        &__items {
            display: flex;
        }
        &__avatar {
            text-align: center;
            h1 {
                font-size: 28px;
                line-height: 38px;
                @extend%font-b;
                width: 190px;
                color: $c300;
            }
        }
        &__text {
            @extend%border-ef;
            position: relative;
            margin-left: 64px;
            width: 986px;
            border: 1px solid #F5F5F5;
            box-shadow: 0px 19px 42px rgba(140, 154, 187, 0.14);
            border-radius: 10px;
            padding: 59px 75px 98px 71px;
            p {
                font-size: 18px;
                line-height: 28px;
                color: $c300
            }
            span {
                @extend%font-b;
                font-size: 22px;
                line-height: 32px;
                color: $c300;
                margin-bottom: 26px;
                flex-wrap: wrap;
                display: flex;
            }
        }
        &__text::after {
            content: "";
            position: absolute;
            display: block;
            background-image: url("/img/gift.webp");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            top: 10%;
            width: 76px;
            height: 76px;
            left: -4%;
        }
    }
}

// 768
@media (max-width: 768px) {
    .istructor {
        &-inner {
            text-align: center;
            h2 {
                margin-top: 35px;
                font-size: 28px;
                line-height: 38px;
            }
            &__avatar {
                margin: 0 auto;
                margin-bottom: 30px;
                animation: backInDown;
                animation-duration: 4s;
                h1 {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
            &__items {
                flex-direction: column;
            }
            &__text {
                margin-left: 0;
                width: 100%;
                padding: 35px 15px;
                animation: backInRight;
                animation-duration: 4s;
                span {
                    font-size: 15px;
                    line-height: 25px;
                }
                p {
                    font-size: 12px;
                    line-height: 22px;
                }
            }
            &__text::after {
                width: 40px;
                height: 40px;
                top: -3%;
                left: 47%;
            }
        }
    }
}

// 600
@media (max-width: 600px) {
    .istructor {
        &-inner {
            text-align: center;
            h2 {
                margin-top: 35px;
                font-size: 28px;
                line-height: 38px;
            }
            &__avatar {
                margin: 0 auto;
                margin-bottom: 30px;
                animation: backInDown;
                animation-duration: 2s;
                h1 {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
            &__items {
                flex-direction: column;
            }
            &__text {
                margin-left: 0;
                width: 100%;
                padding: 35px 15px;
                animation: backInRight;
                animation-duration: 2s;
                span {
                    font-size: 15px;
                    line-height: 25px;
                }
                p {
                    font-size: 12px;
                    line-height: 22px;
                }
            }
            &__text::after {
                width: 40px;
                height: 40px;
                top: -3%;
                left: 47%;
            }
        }
    }
}

// 480
@media (max-width: 480px) {
    .istructor {
        &-inner {
            text-align: center;
            h2 {
                margin-top: 35px;
                font-size: 28px;
                line-height: 38px;
            }
            &__avatar {
                margin: 0 auto;
                margin-bottom: 30px;
                h1 {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
            &__items {
                flex-direction: column;
            }
            &__text {
                margin-left: 0;
                width: 100%;
                padding: 35px 15px;
                span {
                    font-size: 15px;
                    line-height: 25px;
                }
                p {
                    font-size: 12px;
                    line-height: 22px;
                }
            }
            &__text::after {
                width: 40px;
                height: 40px;
                top: -3%;
                left: 47%;
            }
        }
    }
}

// 320
@media (max-width: 320px) {
    .istructor {
        &-inner {
            text-align: center;
            h2 {
                margin-top: 35px;
                font-size: 28px;
                line-height: 38px;
            }
            &__avatar {
                margin: 0 auto;
                margin-bottom: 30px;
                h1 {
                    font-size: 25px;
                    line-height: 35px;
                }
            }
            &__items {
                flex-direction: column;
            }
            &__text {
                margin-left: 0;
                width: 100%;
                padding: 20px 15px;
                span {
                    font-size: 15px;
                    line-height: 25px;
                }
                p {
                    font-size: 12px;
                    line-height: 22px;
                }
            }
            &__text::after {
                width: 40px;
                height: 40px;
                top: -3%;
                left: 42%;
            }
        }
    }
}