.profit {
    margin-top: 99px;
    &-inner {
        position: relative;
        &__box {
            background-image: url("/img/profit-bg.webp");
            background-position: center center;
            background-repeat: no-repeat;
            height: 470px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(20px);
            border-radius: 16px;
            @extend%d-tr;
        }
        &__box:hover {
            @extend%border-ef;
            @extend%h-tr;
        }
        &__cont {
            margin-left: 106px;
            p {
                @extend%font-eb;
                font-size: 24px;
                line-height: 34px;
                color: $default;
            }
            h2 {
                @extend%font-eb;
                font-size: 48px;
                line-height: 58px;
                color: $default;
                margin-bottom: 32px;
            }
            li+li {
                margin-top: 7px;
            }
            li {
                display: flex;
                align-items: center;
                text-align: center;
                p {
                    @extend%font-r;
                    font-size: 18px;
                    line-height: 28px;
                }
                span {
                    content: "";
                    display: block;
                    background-image: url("/img/svg/profit-check.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 24px;
                    height: 24px;
                    margin-right: 16px;
                }
            }
        }
        &__cont::after {
            position: absolute;
            content: "";
            display: block;
            background-image: url('/img/preference-decor.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 149px;
            height: 149px;
            top: -15%;
        }
        &__form {
            padding: 72px 69px 59px 51px;
            background-color: $default;
            width: 493px;
            height: 100%;
            border-radius: 0px 15px 15px 0px;
            h2 {
                @extend%font-b;
                font-size: 36px;
                line-height: 46px;
                color: $c300;
                margin-bottom: 57px;
                text-align: center;
            }
            span {
                color: $c100;
            }
            form {
                display: flex;
                flex-direction: column;
            }
            input {
                @extend%input-f;
                font-size: 16px;
                line-height: 26px;
                color: #72698C;
                padding: 13px 0 13px 41px;
                width: 100%;
                position: relative;
            }
            button {
                @extend%input-btn;
                height: 60px;
                margin-top: 33px;
                font-size: 16px;
                line-height: 26px;
                @extend%font-m;
                @extend%d-tr;
                border: none;
            }
            button:hover {
                background: $c800;
                @extend%h-tr;
                @extend %border-ef;
                border: none;
            }
            label+label {
                margin-top: 16px;
            }
        }
    }
    &-form__fname {
        position: relative;
        input {
            position: relative;
        }
        span {
            background-image: url('/img/svg/input-user.svg');
            background-repeat: no-repeat;
            background-position: center center;
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            top: 33%;
            right: 5%;
        }
    }
    &-form__mail {
        position: relative;
        input {
            position: relative;
        }
        span {
            background-image: url('/img/svg/input-mail.svg');
            background-repeat: no-repeat;
            background-position: center center;
            width: 16px;
            height: 16px;
            display: block;
            position: absolute;
            top: 33%;
            right: 5%;
        }
    }
}

// 768
@media (max-width: 768px) {
    .profit {
        &-inner {
            &__cont {
                margin-left: 65px;
                padding-right: 50px;
                p {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            &__form {
                h2 {
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 48px;
                }
            }
        }
    }
}

// 600
@media (max-width: 600px) {
    .profit {
        height: 640px;
        &-inner {
            &__box {
                flex-direction: column;
            }
            &__cont {
                margin-left: 0;
                padding: 25px;
                text-align: center;
                p {
                    font-size: 15px;
                    line-height: 25px;
                }
                h2 {
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 20px;
                }
                li {
                    p {
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
            &__cont::after {
                width: 88px;
                height: 88px;
                top: -16%;
                right: 40%;
            }
            &__box {
                height: 289px;
            }
            &__form {
                width: 100%;
                padding: 0;
                border-radius: 0;
                margin-top: 20px;
                border-radius: 15px;
                height: 700px;
                h2 {
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 28px;
                }
            }
        }
    }
}

// 480
@media (max-width: 480px) {
    .profit {
        height: 640px;
        &-inner {
            &__box {
                flex-direction: column;
            }
            &__cont {
                margin-left: 0;
                padding: 25px;
                text-align: center;
                p {
                    font-size: 15px;
                    line-height: 25px;
                }
                h2 {
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 20px;
                }
                li {
                    p {
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
            &__cont::after {
                width: 88px;
                height: 88px;
                top: -16%;
                right: 40%;
            }
            &__box {
                height: 289px;
            }
            &__form {
                width: 100%;
                padding: 0;
                border-radius: 0;
                margin-top: 20px;
                border-radius: 15px;
                height: 700px;
                h2 {
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 28px;
                }
            }
        }
    }
}

// 320
@media (max-width: 320px) {
    .profit {
        height: 640px;
        &-inner {
            &__box {
                flex-direction: column;
            }
            &__cont {
                margin-left: 0;
                padding: 25px;
                text-align: center;
                p {
                    font-size: 15px;
                    line-height: 25px;
                }
                h2 {
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 20px;
                }
                li {
                    p {
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
            &__cont::after {
                width: 88px;
                height: 88px;
                top: -16%;
                right: 35%;
            }
            &__box {
                height: 289px;
            }
            &__form {
                width: 100%;
                padding: 0;
                border-radius: 0;
                margin-top: 20px;
                border-radius: 15px;
                height: 700px;
                h2 {
                    font-size: 28px;
                    line-height: 38px;
                    margin-bottom: 28px;
                }
            }
        }
    }
}