.slider {
    margin: 110px 0px;
    position: relative;
    &-title {
        @extend%title-h2;
        text-align: center;
        margin-bottom: 40px;
    }
    &-inner {
        background-image: url('/img/slider-bg.webp');
        // width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
        background-color: $c100;
        opacity: 0.8;
        z-index: -1;
        // position: relative;
        ul {
            display: flex;
            align-items: center;
            // justify-content: center;
            padding: 35px 0;
            position: relative;
            object-fit: cover;
        }
        li {
            max-width: 285px;
            text-align: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
            border-radius: 10px;
            cursor: pointer;
            @extend%d-tr;
        }
        li:hover {
            @extend%border-ef;
        }
        li+li {
            margin-left: 30px;
        }
        &__show {
            display: flex;
            justify-content: center;
            padding: 26px 0px 35px;
            button {
                cursor: pointer;
                border: none;
                background: inherit;
                @extend%font-m;
                color: $default;
                font-size: 20px;
                line-height: 29px;
                text-decoration: underline;
            }
        }
        &__box {
            overflow: hidden;
        }
        &__items {
            padding: 38px 33px 33px 33px;
            img {
                position: relative;
                border: 10px rgba(114, 94, 243, 0.19) solid;
                border-radius: 100%;
                margin-bottom: 8px;
            }
            h1 {
                font-size: 18px;
                line-height: 28px;
                @extend%font-b;
                color: $c300;
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
                line-height: 28px;
                color: #939393;
                margin-bottom: 15px;
                position: relative;
            }
            p::after {
                position: absolute;
                top: 12%;
                right: 35%;
                content: "";
                background-image: url('/img/slider-el.webp');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 58px;
                height: 58px;
                // display: block;
            }
            a {
                font-size: 14px;
                line-height: 28px;
                color: $c100;
                text-decoration: underline;
            }
        }
    }
    &-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        margin: 0 auto;
        &__next {
            position: absolute;
            margin-right: 30px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 100%;
            width: 52px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 3%;
            z-index: 1;
            top: 50%;
            cursor: pointer;
        }
        &__prev {
            position: absolute;
            margin-left: 30px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 100%;
            width: 52px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 3%;
            z-index: 1;
            top: 50%;
            cursor: pointer;
        }
    }
}

// 768
@media (max-width: 768px) {
    .slider {
        margin: 75px 0;
        &-title {
            h2 {
                font-size: 28px;
                line-height: 38px;
            }
        }
    }
}

// 600
@media (max-width: 600px) {
    .slider {
        margin: 75px 0;
        &-title {
            h2 {
                font-size: 28px;
                line-height: 38px;
            }
        }
        &-inner {
            ul {
                width: 100%;
            }
            li {
                max-width: 266px;
            }
            li+li {
                margin-left: 10px;
            }
        }
        &-btn {
            display: block;
        }
    }
}

// 480
@media (max-width: 480px) {
    .slider {
        margin: 75px 0;
        &-title {
            h2 {
                font-size: 28px;
                line-height: 38px;
            }
        }
        &-inner {
            ul {
                width: 100%;
            }
            li {
                max-width: 266px;
            }
            li+li {
                margin-left: 10px;
            }
        }
        &-btn {
            display: none;
        }
    }
}

// 320
@media (max-width: 320px) {
    .slider {
        margin: 75px 0;
        &-title {
            h2 {
                font-size: 28px;
                line-height: 38px;
            }
        }
        &-inner {
            ul {
                width: 100%;
            }
            li {
                max-width: 266px;
            }
            li+li {
                margin-left: 10px;
            }
        }
        &-btn {
            display: none;
        }
    }
}