<div class="menu">
    <div class="container">
        <div class="header-top">
            <div class="header-top__logo">
                <a href="/index.html">
                    <img src="/img/logo.webp" alt="logo">
                </a>
            </div>
            <div class="header-top__nav">
                <nav class="header-top__menu">
                    <ul>
                        <li>
                            <a href="/courses.html">Курсы</a>
                        </li>
                        <li>
                            <a href="#">Журнал</a>
                        </li>
                        <li>
                            <a href="#">Тесты</a>
                        </li>
                    </ul>
                </nav>
                <!-- hamburger menu -->
                <nav role="navigation">
                    <div id="menuToggle">
                        <input type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul id="menu">
                            <a href="#">
                                <li> <a href="/courses.html">Курсы</a></li>
                            </a>
                            <a href="#">
                                <li> <a href="#">Журнал</a></li>
                            </a>
                            <a href="#">
                                <li> <a href="#">Тесты</a></li>
                            </a>
                            <div class="header-top__btn burger-btn">
                                <button class="global-btn" type="submit">Button</button>
                            </div>
                        </ul>
                    </div>
                </nav>
                <!-- end hamburger -->
                <div class="header-top__auth">
                    <button class="header-top__reg">Регистрация</button>
                    <button class="header-top__sign">Войти</button>
                </div>
            </div>

        </div>
    </div>
</div>