<div class="sale">
    <div class="container">
        <div class="sale-inner">
            <div class="sale-cont">
                <div class="sale-cont__text">
                    <h2>Our pricing policy: <span>why so cheap?</span></h2>
                    <p>The objective price for the course is 5,000 hryvnia. After completing the course, you'll get the full price back in a month as a trainee. However, our goal is not a large average check, but a large number of satisfied clients and the
                        consistency of orders. </p>
                </div>
                <div class="sale-cont__img">
                    <img src="/img/sale-img-1.webp" alt="sale-img-1">
                </div>
            </div>
            <div class="sale-card">
                <ul>
                    <li>
                        <div class="sale-card__box">
                            <img src="/img/svg/sale-icon-1.svg" alt="sale-icon-1">
                            <h1>Low advertising costs</h1>
                            <p>We do not aim to sell. Our main goal is to provide courses that are accessible and understandable to absolutely everyone. </p>
                        </div>
                    </li>
                    <li>
                        <div class="sale-card__box">
                            <img src="/img/svg/sale-icon-2.svg" alt="sale-icon-2">
                            <h1>Many loyal customers</h1>
                            <p>We have many subscribers and clients, with at least several hundred orders for each course among our audience. </p>
                        </div>
                    </li>
                    <li>
                        <div class="sale-card__box">
                            <img src="/img/svg/sale-icon-3.svg" alt="sale-icon-3">
                            <h1>No intermediaries</h1>
                            <p>The author of the course is a teacher himself and does not need a large number of intermediaries and hired teachers. </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
