<div class="tutorials">
    <div class="container">
        <div class="tutorials-inner">
            <div class="tutorials-inner__title">
                <h2>Want to learn <span>Game Design</span> from scratch in the shortest amount of time?</h2>
                <p>If so, watch these videos right now</p>
            </div>
            <div class="tutorials-inner__video">
                <div class="tutorials-sub">
                    <ul>
                        <li>
                            <p>Game designer from 0 to PRO</p>
                        </li>
                        <li>
                            <div class="tutorials-sub__item">
                                <img src="/img/svg/tutorials-icon-1.svg" alt="tutorial-icon-1">
                                <h4>Duration: <strong> ~10h.</strong></h4>
                            </div>

                        </li>
                        <li>
                            <div class="tutorials-sub__item">
                                <img src="/img/svg/tutorials-icon-2.svg" alt="tutorials-icon-2">
                                <h4>Viewed: <span>1h. 3 min.</span></h4>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="tutorials-video">
                    <div class="tutorials-video__player">
                        <iframe src="https://www.youtube-nocookie.com/embed/fBMQFaU-HYk?rel=0&fs=0&color=white&controls=0&disablekb=1" frameborder="0"></iframe>
                    </div>
                    <div class="tutorials-video__box">
                        <h2>Courses purchased</h2>
                        <div class="tutorials-box__wrapper ">
                            <button class="tutorials-box__accordion">
                <div class="tutorials-box__accordion--text">
                  <p>Lesson 1: <h1>Lesson Title</h1>
                  </p>
                </div>
                <div class="tutorials-box__accordion--subtext">
                  <h3><img src="/img/svg/tutorials-icon-3.svg" alt="tutorials-icon-3">8 min</h3>
                </div>
              </button>
                            <div class="tutorials-box__panel">
                                <div class="tutorials-box__panel--title">
                                    <p>Lesson 1</p>
                                    <h1>Game Design</h1>
                                </div>
                                <ul>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>

                                </ul>
                            </div>
                            <button class="tutorials-box__accordion">
                <div class="tutorials-box__accordion--text">
                  <p>Lesson 2: <h1>Lesson Title</h1>
                  </p>
                </div>

                <div class="tutorials-box__accordion--subtext">
                  <h3><img src="/img/svg/tutorials-icon-3.svg" alt="tutorials-icon-3">8 min</h3>
                </div>

              </button>
                            <div class="tutorials-box__panel">
                                <div class="tutorials-box__panel--title">
                                    <p>Lesson 2</p>
                                    <h1>Game Design</h1>
                                </div>
                                <ul>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>

                                </ul>
                            </div>
                            <button class="tutorials-box__accordion">
                <div class="tutorials-box__accordion--text">
                  <p>Lesson 3: <h1>Lesson Title</h1>
                  </p>
                </div>

                <div class="tutorials-box__accordion--subtext">
                  <h3><img src="/img/svg/tutorials-icon-3.svg" alt="tutorials-icon-3">20 min</h3>
                </div>
              </button>
                            <div class="tutorials-box__panel">
                                <div class="tutorials-box__panel--title">
                                    <p>Lesson 3</p>
                                    <h1>Game Design</h1>
                                </div>
                                <ul>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="tutorials-box__accordion">
                <div class="tutorials-box__accordion--text">
                  <p>Lesson 4: <h1>Lesson Title</h1>
                  </p>
                </div>
                <div class="tutorials-box__accordion--subtext">
                  <h3><img src="/img/svg/tutorials-icon-3.svg" alt="tutorials-icon-3">32 min</h3>
                </div>
              </button>
                            <div class="tutorials-box__panel">
                                <div class="tutorials-box__panel--title">
                                    <p>Lesson 4</p>
                                    <h1>Game Design</h1>
                                </div>
                                <ul>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>

                                </ul>
                            </div>
                            <button class="tutorials-box__accordion">
                <div class="tutorials-box__accordion--text">
                  <p>Lesson 5: <h1>Lesson Title</h1>
                  </p>
                </div>
                <div class="tutorials-box__accordion--subtext">
                  <h3><img src="/img/svg/tutorials-icon-3.svg" alt="tutorials-icon-3">22 min</h3>
                </div>
              </button>
                            <div class="tutorials-box__panel">
                                <div class="tutorials-box__panel--title">
                                    <p>Lesson 5</p>
                                    <h1>Game Design</h1>
                                </div>
                                <ul>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                    <li>

                                        <a href="#"> Database administration</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tutorials-video__links">
                    <ul>
                        <li>
                            <img src="/img/svg/links-icon-1.svg" alt="links-icon-1">
                            <a href="#">Pass the vehicle for inspection</a>
                        </li>
                        <li>
                            <img src="/img/svg/links-icon-2.svg" alt="links-icon-2">
                            <a href="#">Download materials</a>
                        </li>
                        <li>
                            <img src="/img/svg/links-icon-3.svg" alt="links-icon-3">
                            <a href="#">Ask the teacher a question</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
