<div class="about">
    <div class="container">
        <div class="about-inner">
            <h2>От нас вы <span>получите</span></h2>
            <ul>
                <li class="animate__animated  animate__bounceInUp">
                    <div class="about-item__card">
                        <img src="/img/svg/about-icon-1.svg" alt="about-icon-1">
                        <h1>Доступность</h1>
                        <p>Мы не ставим целей продать. Наша главная задача - это предоставить курсы, доступные и понятные абсолютно каждому. </p>
                    </div>
                </li>
                <li class="animate__animated  animate__bounceInUp">
                    <div class="about-item__card">
                        <img src="/img/svg/about-icon-2.svg" alt="about-icon-2">
                        <h1>Актуальность</h1>
                        <p>Мы идем в ногу с актуальными практиками и постоянно дополняем наши курсы. </p>
                    </div>
                </li>
                <li class="animate__animated  animate__bounceInUp">
                    <div class="about-item__card">
                        <img src="/img/svg/about-icon-3.svg" alt="about-icon-3">
                        <h1>Поддержка</h1>
                        <p>Мы не ставим целей продать. Наша главная задача - это предоставить курсы, доступные и понятные абсолютно каждому. </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>