<div class="about">
    <div class="container">
        <div class="about-inner">
            <h2>From us you will <span>receive</span></h2>
            <ul>
                <li class="animate__animated  animate__bounceInUp">
                    <div class="about-item__card">
                        <img src="/img/svg/about-icon-1.svg" alt="about-icon-1">
                        <h1>Availability</h1>
                        <p>We do not aim to sell. Our main task is to provide courses that are accessible and understandable to absolutely everyone. </p>
                    </div>
                </li>
                <li class="animate__animated  animate__bounceInUp">
                    <div class="about-item__card">
                        <img src="/img/svg/about-icon-2.svg" alt="about-icon-2">
                        <h1>Relevance</h1>
                        <p>We keep up with current practices and constantly supplement our courses. </p>
                    </div>
                </li>
                <li class="animate__animated  animate__bounceInUp">
                    <div class="about-item__card">
                        <img src="/img/svg/about-icon-3.svg" alt="about-icon-3">
                        <h1>Support</h1>
                        <p>We do not aim to sell. Our main task is to provide courses that are accessible and understandable to absolutely everyone. </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>