<div class="card">
    <div class="container">
        <div class="card-inner">
            <h2>You will be able to <span>create</span></h2>
            <ul>
                <li class="card-item card-item__ef1">
                    <div class="card-item__def">
                        <img src="/img/card-img-1.webp" alt="card-img-1">
                        <div class="card-item__link">
                            <h1>3D Platformer<span></span></h1>
                        </div>
                        <div class="card-item__hov">
                            <p>Through the project, I developed and solidified my own design style, and met the most amazing, inspiring and intelligent game creators. I proudly call my goal "the smartest idea that came to my younger self."</p>
                        </div>
                    </div>
                </li>
                <li class="card-item card-item__ef2">
                    <div class="card-item__def">
                        <img src="/img/card-img-3.webp" alt="card-img-2">
                        <div class="card-item__link">
                            <h1>3D Racing<span></span></h1>
                        </div>
                        <div class="card-item__hov">
                            <p>Through the project, I developed and solidified my own design style, and met the most amazing, inspiring and intelligent game creators. I proudly call my goal "the smartest idea that came to my younger self."</p>
                        </div>
                    </div>
                </li>
                <li class="card-item card-item__ef3">
                    <div class="card-item__def">
                        <img src="/img/card-img-1.png" alt="card-img-3">
                        <div class="card-item__link">
                            <h1>2D Platformer<span></span></h1>
                        </div>
                        <div class="card-item__hov">
                            <p>Through the project, I developed and solidified my own design style, and met the most amazing, inspiring and intelligent game creators. I proudly call my goal "the smartest idea that came to my younger self."</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>