<div class="contact">
    <div class="container">
        <div class="contact-inner">
            <div class="contact-inner__box  animate__animated animate__fadeInRight">
                <div class="contact-inner__cont">
                    <h2>Want to get your <span>first</span> free lessons? </h2>
                    <p>Fill out the form, and we'll be happy to send you sample lectures to your email!</p>
                </div>
                <div class="contact-inner__form">
                    <img src="/img/contact-form-img.webp" alt="contact-form-img">
                    <h2>Write to<span> us </span></h2>
                    <p>If you want to get free courses</p>
                    <form action="#">
                        <label class="contact-form__fname" for="fname"><input type="text" placeholder="Enter your name"><span></span></label>
                        <label class="contact-form__mail" for="email"><input type="text" placeholder="Enter your e-mail"><span></span></label>
                        <button type="submit">Get</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>