<div class="faq">
    <div class="container">
        <div class="faq-inner">
            <div class="faq-inner__title">
                <h2>Help <span>FAQ</span></h2>
                <p>Answers to Frequently Asked Questions<span></span></p>

            </div>
            <div class="faq-box">
                <button class="faq-box__accordion">How does the free class go?  </button>
                <div class="faq-box__panel">
                    <p>Career Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.Career
                        Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.</p>
                </div>

                <button class="faq-box__accordion faq-box__accordion--marg">How does the free class go?  </button>
                <div class="faq-box__panel">
                    <p>Career Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.Career
                        Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.</p>
                </div>
                <button class="faq-box__accordion ">How does the free class go?  </button>
                <div class="faq-box__panel">
                    <p>Career Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.Career
                        Development Center will help with resumes and prepare for the interview.Career Development Center will help with resumes and prepare for the interview.</p>
                </div>
            </div>
        </div>
    </div>
</div>
