<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-inner__logo">
                <a href="#">
                    <img src="/img/svg/footer-logo.svg" alt="footer-logo">
                </a>
                <ul>
                    <li>
                        <a href="#">
                          Privacy Policy
            </a>
                    </li>
                    <li>
                        <a href="#">
                          Оферта
            </a>
                    </li>
                    <li>
                        <a href="#">
                          Information about the educational organization
            </a>
                    </li>
                </ul>
                <p>
                    License for educational activities № 040485 of December 03, 2019, Kiev. 39 Garvar Avenue, building 80, INN 7336638 1870 CookBrains, 2014 - 2021
                </p>
            </div>
            <div class="footer-inner__btn">
                <button>Game Designer</button>
                <button>Python</button>
                <button>C++</button>
            </div>
            <div class="footer-inner__social">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/img/svg/footer-fb.svg" alt="footer-fb">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/svg/footer-telegram.svg" alt="footer-telegram">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/svg/footer-twitter.svg" alt="footer-twitter">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/svg/footer-viber.svg" alt="footer-viber">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>