<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-top">
                <div class="header-top__logo">
                    <a href="/index.html">
                        <img src="/img/logo.webp" alt="logo">
                    </a>
                </div>
                <div class="header-top__nav">
                    <nav class="header-top__menu">
                        <ul>
                            <li>
                                <a href="/courses.html">Курсы</a>
                            </li>
                            <li>
                                <a href="#">Журнал</a>
                            </li>
                            <li>
                                <a href="#">Тесты</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- hamburger menu -->
                    <nav role="navigation">
                        <div id="menuToggle">
                            <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul id="menu">
                                <a href="#">
                                    <li> <a href="/courses.html">Курсы</a></li>
                                </a>
                                <a href="#">
                                    <li> <a href="#">Журнал</a></li>
                                </a>
                                <a href="#">
                                    <li> <a href="#">Тесты</a></li>
                                </a>
                                <div class="header-burger__auth">
                                    <button class="header-burger__reg"> <p>Регистрация</p> </button>
                                    <button class="header-burger__sign"> Войти</button>
                                </div>
                            </ul>
                        </div>
                    </nav>
                    <!-- end hamburger -->
                    <div class="header-top__auth">
                        <button class="header-top__reg"><span></span> Регистрация</button>
                        <button class="header-top__sign"><span></span>  Войти</button>
                    </div>
                </div>
            </div>
            <div class="header-cont animate__animated animate__bounceInLeft">
                <div class="header-cont__text">
                    <div class="header-cont__title">
                        <h3>Геймдизайнер</h3>
                        <p>с 0 до PRO</p>
                    </div>
                    <p class="header-cont__sub">Вы освоите системный и бизнес-анализ, чтобы помогать компаниям принимать стратегические решения и увеличивать прибыль. Освойте профессию с нуля и сможете устроиться на работу через полгода после начала обучения.</p>
                    <button>Приобрести</button>
                </div>
                <div class="header-cont__video">
                    <iframe src="https://www.youtube.com/embed/J8lJtgyAcIA" title="Other Earths: The Search for Habitable Planets - 4k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    <button>К первой лекции <span></span></button>
                </div>
            </div>
        </div>
    </div>
</header>