<header class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-top">
                <div class="header-top__logo">
                    <a href="/index.html">
                        <img src="/img/logo.webp" alt="logo">
                    </a>
                </div>
                <div class="header-top__nav">
                    <nav class="header-top__menu">
                        <ul>
                            <li>
                                <a href="/courses.html">Courses</a>
                            </li>
                            <li>
                                <a href="#">Magazine</a>
                            </li>
                            <li>
                                <a href="#">Tests</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- hamburger menu -->
                    <nav role="navigation">
                        <div id="menuToggle">
                            <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul id="menu">
                                <a href="#">
                                    <li> <a href="/courses.html">Courses</a></li>
                                </a>
                                <a href="#">
                                    <li> <a href="#">Magazine</a></li>
                                </a>
                                <a href="#">
                                    <li> <a href="#">Tests</a></li>
                                </a>
                                <div class="header-burger__auth">
                                    <button class="header-burger__reg" id="regMob"> <p>Registration</p> </button>
                                    <button class="header-burger__sign"> Sign in</button>
                                </div>
                            </ul>
                        </div>
                    </nav>
                    <!-- end hamburger -->
                    <div class="header-top__auth">
                        <button class="header-top__reg" id="regBtn"><span></span> Registration</button>
                        <button class="header-top__sign" id="signBtn"><span></span>  Sign in</button>
                    </div>
                </div>
            </div>
            @include('./reg-modal.html')
            <div class="header-cont animate__animated animate__bounceInLeft">
                <div class="header-cont__text">
                    <div class="header-cont__title">
                        <h3>Game designer</h3>
                        <p>0 to PRO</p>
                    </div>
                    <p class="header-cont__sub">You will master systems and business analysis to help companies make strategic decisions and increase profits. Learn a profession from scratch and you will be able to get a job six months after the start of training.</p>
                    <button>Buy</button>
                </div>
                <div class="header-cont__video">
                    <iframe src="https://www.youtube.com/embed/J8lJtgyAcIA" title="Other Earths: The Search for Habitable Planets - 4k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    <a href="../courses.html">
                        <button>For the first lecture<span></span></button>
                    </a>

                </div>
            </div>
        </div>
    </div>
</header>
