<div class="istructor">
    <div class="container">
        <div class="istructor-inner">
            <h2>Course <span>instructor</span> </h2>
            <div class="istructor-inner__items">
                <div class="istructor-inner__avatar">
                    <img src="/img/avatar.webp" alt="avatar-img">
                    <h1>Sergey Popov</h1>
                </div>
                <div class="istructor-inner__text">
                    <p>
                        <span>I can't wait to share everything I've learned with you so you too can become a great game developer in no time.</span> Hi My name is Sergey, I am an economic game designer at Ubisoft Montreal. Ever since I was young, I've
                        always been interested in creating games; whether it was inventing RPGs with my sister, creating huge Lego worlds with story adventures or creating Excel spreadsheets for Diablo. From childhood, my path was always clear - I would
                        work in the video game industry one way or another. As an adult, I continued that path and earned two degrees; one in marketing and the other in game and level design. During my studies I delved into many theoretical topics about
                        game design and development such as; Freemium Business Model, gamification, KPI analysis for optimization, level design, and color psychology to name a few. There has been a lot of trial and error in my personal approaches, which
                        are mistakes I want others to avoid, so I started creating these courses to help developers unfamiliar with the industry not make the same mistakes that I, and many others, have made. Done. So, get started right now and take a
                        look at some of the courses I offer. If you have any questions, feel free to contact me!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>