<div class="interesting">
    <div class="container">
        <div class="interesting-inner">
            <h2>Who is suitable for this <span>course</span></h2>
            <ul>
                <li>
                    <div class="interesting-inner__img">
                        <img src="/img/interesting-img-1.webp" alt="interesting-img-1">
                    </div>
                    <div class="interesting-inner__text">
                        <h1>People with no experience in IT</h1>
                        <p>You'll get basic programming, analytics, statistics, and mathematics skills that will open the way to a career in Data Science and Machine Learning. You'll be able to use your knowledge immediately in practice.</p>
                    </div>
                </li>
                <li>
                    <div class="interesting-inner__img interesting-inner__img--el1">
                        <img src="/img/interesting-img-2.webp" alt="interesting-img-2">
                    </div>
                    <div class="interesting-inner__text">
                        <h1>Programmers</h1>
                        <p>You will pump up your knowledge and skills in Python and R programming. You'll improve your math and analytical thinking skills, use machine learning algorithms to solve business problems - and strengthen your portfolio with powerful
                            projects.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="interesting-inner__img interesting-inner__img--el2">
                        <img src="/img/interesting-img-3.webp" alt="interesting-img-3">
                    </div>
                    <div class="interesting-inner__text">
                        <h1>For novice analysts</h1>
                        <p>You will learn how to make hypotheses and draw conclusions based on data, write efficient code in Python and R, turn raw data into useful information for the company, understand mathematics based on statistics, as well as to train
                            machines and predict results. You'll polish your knowledge, increase the speed of your work, and get promoted.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>