<div class="learn">
    <div class="container">
        <div class="learn-inner">
            <h2>Чему вы <span>научитесь?</span> </h2>
            <ul>
                <li class="animate__animated  animate__rotateInDownLeft"><span></span>
                    <p>Система визуального программирования</p>
                </li>
                <li class="animate__animated  animate__rotateInDownLeft"><span></span>
                    <p>Система визуального программирования</p>
                </li>
                <li class="animate__animated  animate__rotateInDownLeft"><span></span>
                    <p>Система визуального программирования</p>
                </li>
                <li class="animate__animated  animate__rotateInDownLeft"><span></span>
                    <p>Система визуального программирования</p>
                </li>
            </ul>
        </div>
    </div>
</div>