<div class="learn">
    <div class="container">
        <div class="learn-inner">
            <h2>What will you <span>learn?</span> </h2>
            <ul>
                <li class="animate__animated  animate__rotateInDownLeft"><span></span>
                    <p>Visual programming system</p>
                </li>
                <li class="animate__animated  animate__rotateInDownLeft"><span></span>
                    <p>Visual programming system</p>
                </li>
                <li class="animate__animated  animate__rotateInDownLeft"><span></span>
                    <p>Visual programming system</p>
                </li>
                <li class="animate__animated  animate__rotateInDownLeft"><span></span>
                    <p>Visual programming system</p>
                </li>
            </ul>
        </div>
    </div>
</div>