<div class="lessons">
    <div class="container">
        <div class="lessons-inner">
            <h2>Course <span>content</span></h2>
            <div class="lessons-box">
                <div class="lessons-box__wrapper">
                    <button class="lessons-box__accordion"><p>Lesson 1</p><h1>Game Design</h1></button>
                    <div class="lessons-box__panel">
                        <div class="lessons-box__panel--title">
                            <p>Lesson 1</p>
                            <h1>Game Design</h1>
                        </div>
                        <ul>
                            <li>
                                <p>
                                    Database administration
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding client-server architecture
                                </p>
                            </li>
                            <li>
                                <p>
                                    Database administration
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding client-server architecture
                                </p>
                            </li>
                        </ul>
                    </div>
                    <button class="lessons-box__accordion"><p>Lesson 2</p><h1>Game Design</h1></button>
                    <div class="lessons-box__panel">
                        <div class="lessons-box__panel--title">
                            <p>Lesson 2</p>
                            <h1>Game Design</h1>
                        </div>
                        <ul>
                            <li>
                                <p>
                                    Database administration
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding client-server architecture
                                </p>
                            </li>
                            <li>
                                <p>
                                    Database administration
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding client-server architecture
                                </p>
                            </li>
                        </ul>
                    </div>
                    <button class="lessons-box__accordion"><p>Lesson 3</p><h1>Game Design</h1></button>
                    <div class="lessons-box__panel">
                        <div class="lessons-box__panel--title">
                            <p>Lesson 3</p>
                            <h1>Game Design</h1>
                        </div>
                        <ul>
                            <li>
                                <p>
                                    Database administration
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding client-server architecture
                                </p>
                            </li>
                            <li>
                                <p>
                                    Database administration
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding client-server architecture
                                </p>
                            </li>
                        </ul>
                    </div>
                    <button class="lessons-box__accordion"><p>Lesson 4</p><h1>Game Design</h1></button>
                    <div class="lessons-box__panel">
                        <div class="lessons-box__panel--title">
                            <p>Lesson 4</p>
                            <h1>Game Design</h1>
                        </div>
                        <ul>
                            <li>
                                <p>
                                    Database administration
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding client-server architecture
                                </p>
                            </li>
                            <li>
                                <p>
                                    Database administration
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding client-server architecture
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
