<div class="profit">
    <div class="container">
        <div class="profit-inner">
            <div class="profit-inner__box">
                <div class="profit-inner__cont">
                    <p>После приобретения курса</p>
                    <h2>Вы получите</h2>
                    <ul>
                        <li>
                            <span></span>
                            <p>22 ч видео по запросу</p>
                        </li>
                        <li>
                            <span></span>
                            <p>Учебные материалы</p>
                        </li>
                        <li>
                            <span></span>
                            <p>Полный пожизненный доступ</p>
                        </li>
                        <li>
                            <span></span>
                            <p>Практика домашних заданий</p>
                        </li>
                        <li>
                            <span></span>
                            <p>Тесты и сертификаты</p>
                        </li>
                    </ul>
                </div>
                <div class="profit-inner__form">
                    <h2>Получите программу курса на <span>email</span></h2>
                    <form action="#">
                        <label class="profit-form__fname" for="fname"><input type="text" placeholder="Введите Ваше имя"><span></span></label>
                        <label class="profit-form__mail" for="email"><input type="text" placeholder="Введите Ваш e-mail"><span></span></label>
                        <button type="submit">Получить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>