<div class="profit">
    <div class="container">
        <div class="profit-inner">
            <div class="profit-inner__box  animate__animated animate__fadeInRight">
                <div class="profit-inner__cont">
                    <p>After purchasing the course</p>
                    <h2>You'll get</h2>
                    <ul>
                        <li>
                            <span></span>
                            <p>22 hours video on demand</p>
                        </li>
                        <li>
                            <span></span>
                            <p>Educational materials</p>
                        </li>
                        <li>
                            <span></span>
                            <p>Full lifetime access</p>
                        </li>
                        <li>
                            <span></span>
                            <p>Homework practice</p>
                        </li>
                        <li>
                            <span></span>
                            <p>Tests and certificates</p>
                        </li>
                    </ul>
                </div>
                <div class="profit-inner__form">
                    <h2>Receive the course program by <span>email</span></h2>
                    <form action="#">
                        <label class="profit-form__fname" for="fname"><input type="text" placeholder="Enter your name"><span></span></label>
                        <label class="profit-form__mail" for="email"><input type="text" placeholder="Enter your e-mail"><span></span></label>
                        <button type="submit">Get</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>