<div class="reg" id="regModal">
    <h2>Register Form</h2>
    <ul>
        <li>
            <label for="yname">
        <input type="text" placeholder="Your name">
      </label>
        </li>
        <li>
            <label for="yemail">
        <input type="email" placeholder="Your email">
      </label>
        </li>
        <li>
            <label for="ypass">
        <input type="password" placeholder="Your password">
      </label>
        </li>
        <button type="submit">Register</button>
    </ul>
    <span class="reg-close">&times;</span>
</div>
