<div class="slider">
    <div class="container">
        <div class="slider-title">
            <h2>Feedback <span>from our students</span></h2>
        </div>
        <div class="slider-inner ">
            <div class="slider-inner__box sliderSwiper">
                <ul class="slider-inners swiper-wrapper">
                    <li class="slider-inner__item swiper-slide ">
                        <div class="slider-inner__items ">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">5 answers</a>
                        </div>
                    </li>
                    <li class="slider-inner__item swiper-slide">
                        <div class="slider-inner__items">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">25 answers</a>
                        </div>
                    </li>
                    <li class="slider-inner__item swiper-slide">
                        <div class="slider-inner__items">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">55 answers</a>
                        </div>
                    </li>
                    <li class="slider-inner__item swiper-slide">
                        <div class="slider-inner__items">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">55 answers</a>
                        </div>
                    </li>
                    <li class="slider-inner__item swiper-slide">
                        <div class="slider-inner__items">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">55 answers</a>
                        </div>
                    </li>
                    <li class="slider-inner__item swiper-slide">
                        <div class="slider-inner__items">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">55 answers</a>
                        </div>
                    </li>
                    <li class="slider-inner__item swiper-slide">
                        <div class="slider-inner__items">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">55 answers</a>
                        </div>
                    </li>
                    <li class="slider-inner__item swiper-slide">
                        <div class="slider-inner__items">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">55 answers</a>
                        </div>
                    </li>
                    <li class="slider-inner__item swiper-slide">
                        <div class="slider-inner__items">
                            <img src="/img/slider-img-1.png" alt="slider-img-1">
                            <h1>Maxim Khristovsky</h1>
                            <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                            <a href="#">55 answers</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="slider-btn">
                <div class="slider-btn__prev"><img src="/img/svg/slider-btn__prev.svg" alt="slider-btn__prev"></div>
                <div class="slider-btn__next"><img src="/img/svg/slider-btn__next.svg" alt="slider-btn__next"></div>
            </div>

        </div>

    </div>

</div>
