<div class="slider">
    <div class="container">
        <div class="slider-title">
            <h2>Feedback <span>from our students</span></h2>
        </div>
        <div class="slider-inner">
            <ul>
                <li>
                    <div class="slider-inner__items">
                        <img src="/img/slider-img-1.png" alt="slider-img-1">
                        <h1>Maxim Khristovsky</h1>
                        <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                        <a href="#">5 answers</a>
                    </div>
                </li>
                <li>
                    <div class="slider-inner__items">
                        <img src="/img/slider-img-1.png" alt="slider-img-1">
                        <h1>Maxim Khristovsky</h1>
                        <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                        <a href="#">25 answers</a>
                    </div>
                </li>
                <li>
                    <div class="slider-inner__items">
                        <img src="/img/slider-img-1.png" alt="slider-img-1">
                        <h1>Maxim Khristovsky</h1>
                        <p>Thank you very much, he explained everything very clearly and presented the information in a cool and interesting way.</p>
                        <a href="#">55 answers</a>
                    </div>
                </li>
            </ul>
            <div class="slider-inner__show">
                <button>See all reviews</button>
            </div>
        </div>

    </div>

</div>
